* {
	box-sizing: border-box;
}

body {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	width: 100%;
	height: 625px;
	margin: auto;
}

h1, h2, h3 {
	color: #4aaaa5
}

header {
}

nav {
	border-color: #cccccc;
	background: #ffffff;
	margin: auto;
	width: 960px;
	height: 100px;
}

.name {
	background: #4aaaa5;
	color: white;
	font-size: 35px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 225px;
	float: left;
}
.menu {
	float: right;
	height: 100px;
	line-height: 100px;
	font-size: 18px;
	text-align: center;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
}

.clearfix:after{
	clear: both;
}

.bg {background-image: url(../images/dpbg.jpg);
	background-size: px;
	background-position: right;
	background-position: bottom;
}

.container {
	width: 960px;
	margin: auto;
}

.main {
	border-color: #dddddd;
	background-color: #ffffff;
	width: 650px;
	float: left;
	background-image: url(deadpool.jpg);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#me {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 10px 0 0;
}

.side {
	width: 270px;
	float: right;
	text-align: center;
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.social {
	height: 50px;
	width: 50px;

}

.grey {
	background-color: #777777;
	height: 2px;
}

.green {
	background-color: #4aaaa5;
	height: 10px;	
}

footer {
	background-color: #666666;
	color: white;
	height: 100px;
	line-height: 100px;
	text-align: center;
}